<div class="row">
    <div class="col-4">
        <img src="{{card.image}}">
    </div>
    <div class="col-8">
        <a [routerLink]="[card._id, 'comments']">{{card.title}}</a>
        <span> {{card.subtitle}}</span>
        <app-show-more [text]="card.description" [textSize]="130"></app-show-more>
        <div class="float-right">
            <button class="btn btn-danger" (click)="changeGrade(card.grade - 1)">-</button>
            <span> {{card.grade}} </span>
            <button class="btn btn-success" (click)="changeGrade(card.grade + 1)">+</button>
        </div>
    </div>
</div>
