<div class="row">
    <div class="col-4">
        <app-pagination></app-pagination>
    </div>
    <div class="col-8">
        <button class="btn btn-secondary" (click)="changePageSize(5)">5</button>
        <button class="btn btn-secondary" (click)="changePageSize(10)">10</button>
        <button class="btn btn-secondary" (click)="changePageSize(15)">15</button>
    </div>
</div>
<div class="row">
    <div class="col-7" *ngFor="let card of cards?.results">
        <app-card-detail [card]="card"></app-card-detail>
    </div>
    <div class="col-5">
        <router-outlet></router-outlet>
    </div>
</div>